.about {
  width: 100%;
  min-height: 100vh;
}

h2 {
    text-align: center;
    margin: 25px;
}

p {
    font-size: clamp(0.5rem, 4vw, 1rem);
    padding-left: 10px;
}

.carousel-container {
  width: 90%;
  height: 350px;
  position: relative;
  overflow: visible;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(0.7);
  transition: none;
}