<h3>My Projects</h3>

<div class="row d-flex justify-content-center pt-5 pb-5">
    <div class="col-10">
        <div class="info d-flex align-items-stretch p-4 rounded">
            <div class="ps-4">
                <h3>Personal Portfolio</h3>
                <h5>Description:</h5>
                <p>
                    This website is my personal portfolio, where I introduce myself, showcase my skills, 
                    and provide an overview of my projects. Visitors can contact me through the site and view my code on GitHub. 
                    I designed and built this website entirely by myself, with a focus on responsive design and user-friendliness. 
                    It’s a living project that I continuously improve as my experience and knowledge grow.
                </p>
                <h5>Tech Stack:</h5>
                <p>Frontend: Angular 19, Typescript, HTML5, CSS, Bootstrap, Anime.js, Chart.js, GitHub Pages</p>
                <p>Backend: ...in progress: C#, ASP.NETCore Web API, MongoDB, Microsoft Azure</p>
            </div>
        </div>
    </div>

    <div class="col-10 pt-3">
        <div class="info d-flex align-items-stretch p-4 rounded">
            <div class="ps-4">
                <h3>Live sports report</h3>
                <h5>Description:</h5>
                <p>
                    As a school project, I developed a web application that allows a reporter to provide live coverage of a kayak 
                    competition. Users can register for a race in advance and follow the event live through the app. 
                    The application was built with a focus on real-time interaction, user-friendly design, 
                    and registration functionality. This project taught me how to build a dynamic, 
                    component-based single-page web environment with multiple user roles (reporter and audience).
                </p>
                <h5>Tech Stack:</h5>
                <p>C#, Blazor (Server), Razor Pages, SignalR, HTML5, Bootstrap</p>
            </div>
        </div>
    </div>

    <div class="col-10 pt-3">
        <div class="info d-flex align-items-stretch p-4 rounded">
            <div class="ps-4">
                <h3>Sniff-Hikes Web app</h3>
            </div>
        </div>
    </div>

    <div class="col-10 pt-3">
        <div class="info d-flex align-items-stretch p-4 rounded">
            <div class="ps-4">
                <h3>Sniff-Hikes Mobile app (Android and Windows)</h3>
            </div>
        </div>
    </div>
</div>
