<h3>My Projects</h3>

<div class="row justify-content-center pt-5 pb-5">
    <div class="col-10">
        <div class="info d-flex align-items-stretch p-4 rounded">
            <div class="ps-4">
                <h3>Personal Portfolio</h3>
                <h5>Description:</h5>
                <p>
                    This website is my personal portfolio, where I introduce myself, showcase my skills, 
                    and provide an overview of my projects. Visitors can contact me through the site and view my code on GitHub. 
                    I designed and built this website entirely by myself, with a focus on responsive design and user-friendliness. 
                    It’s a living project that I continuously improve as my experience and knowledge grow.
                </p>
                <h5>Tech Stack:</h5>
                <p>Frontend: Angular 19, Typescript, HTML5, CSS, Bootstrap, Anime.js, Chart.js, GitHub Pages</p>
                <p>Backend: ...in progress: C#, ASP.NETCore Web API, MongoDB, Microsoft Azure</p>
            </div>
        </div>
    </div>

    <div class="col-10 pt-3">
        <div class="info d-flex align-items-stretch p-4 rounded">
            <div class="ps-4">
                <h3>Live sports report</h3>
                <h5>Description:</h5>
                <p>
                    As a school project, I developed a web application that allows a reporter to provide live coverage of a kayak 
                    competition. Users can register for a race in advance and follow the event live through the app. 
                    The application was built with a focus on real-time interaction, user-friendly design, 
                    and registration functionality. This project taught me how to build a dynamic, 
                    component-based single-page web environment with multiple user roles (reporter and audience).
                </p>
                <h5>Tech Stack:</h5>
                <p>C#, Blazor (Server), Razor Pages, SignalR, HTML5, Bootstrap</p>
            </div>
        </div>
    </div>

    <div class="col-10 pt-3">
        <div class="info d-flex align-items-stretch p-4 rounded">
            <div class="ps-4">
                    <h3>Sniff-Hikes Web app</h3>    
                <h5>Description:</h5>
                <p>
                    This web application is designed for people who enjoy hiking in nature with their dogs. After registering, users can create 
                    and share hiking events and routes, as well as leave comments on posts from others. 
                    The backend is built using an ASP.NET Core Web API, with API documentation provided via Swagger for structured and 
                    accessible endpoint reference. The application also includes an admin section that allows management of users, events, routes, 
                    and comments to ensure smooth moderation and control. This project combines frontend and backend development, and taught me 
                    how to implement user authentication/authorization, CRUD operations, and API integration within the .NET ecosystem.
                </p>
                <h5>Tech Stack:</h5>
                <p>Frontend: ASP.NET Core MVC, HTML5, CSS, Bootstrap, Vue2</p>
                <p>
                    Backend: C#, ASP.NET Core Web API (REST), Swagger, Microsoft Identity, EF Core (ORM), Microsoft SQL Server, 
                    Clean Architecture, Anotation Validation
                </p>
            </div>
        </div>
    </div>

    <div class="col-10 pt-3">
        <div class="info d-flex align-items-stretch p-4 rounded">
            <div class="ps-4">
                <h3>Sniff-Hikes Mobile app (Android and Windows)</h3>
                <h5>Description:</h5>
                <p>
                    As an extension of my hiking web application, I developed a cross-platform mobile app using Xamarin.Forms targeting 
                    Android and Windows devices. This app enables registered users to share and explore hiking events and routes tailored 
                    for dog owners. Users can post comments, view detailed addresses, and access route navigation via maps or apps like Waze. 
                    The app also allows users to register for events, manage their profiles—including adding their dogs—and discover hiking 
                    zones in Belgium specifically suitable for dogs, with the ability to share experiences through comments.

                    A key feature(wich is still in progress) is the ability to record their own hikes, share these routes with the community, 
                    and receive feedback. Additionally, the app includes an admin section for managing users, events, routes, and content, 
                    ensuring smooth operation and community moderation. This project demonstrates my skills in mobile development, 
                    cross-platform design, user interaction, and backend integration.
                </p>
                <h5>Tech Stack:</h5>
                <p>Frontend: C#, Xamarin Forms (Android, Windows), MVVM, XAML, Databinding</p>
                <p>Backend: C# GraphQL API (...in progress), Hotchocolate .NET, Firebase Cloud DB</p>
            </div>
        </div>
    </div>
</div>
