<div class="container align-content-center min-vh-100">
  <div class="row justify-content-center">
    <div class="col-8 text-center mb-3">
        <h3 #animatedText></h3>
    </div>
    <div class="col-8 text-center mb-5 d-flex justify-content-center gap-4">
        <div>
            <a href="https://www.linkedin.com/in/rosseel-almanzo-5241172ba/" target="_blank" rel="noopener">
                <img src="assets/images/Linkedin.png" width="32" height="32">
            </a>
        </div>
        
        <div>
            <a href="mailto:ralmanzo@gmail.com" class="ms-2">
                <img src="assets/images/mail.png" width="32" height="32">
            </a>
        </div>
        
        <div>
            <a href="tel:+32494623025" class="ms-2">
                <img src="assets/images/phone.png" width="32" height="32">
            </a>
        </div>
    </div>

    <div class="col-8 text-center mb-3">
        <p>Or send a message</p>
    </div>

    <div class="col-8" style="border: 2px solid limegreen; border-radius: 2%;">
        
        <form class="contact-form" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
            <div class="mb-3">
                <label for="name">Name</label>
                <input  type="text" name="name" id="name" class="form-control" formControlName="name">
                @if (contactForm.get('name')?.invalid && (contactForm.get('name')?.touched || contactForm.get('name')?.dirty || submitted)) {
                <div class="text-danger">
                    @if (contactForm.get('name')?.errors?.['required']) {
                        <small>Name is required</small>
                    }
                </div>
                }
            </div>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" formControlName="email">
                @if (contactForm.get('email')?.invalid && (contactForm.get('email')?.touched || contactForm.get('email')?.dirty || submitted)) {
                <div class="text-danger">
                    @if (contactForm.get('email')?.errors?.['required']) {
                        <small>Email is required</small>
                    }
                    @if (contactForm.get('email')?.errors?.['email']) {
                        <small>Please enter valid email</small>
                    }
                </div>
                }
            </div>

            <div class="mb-3">
                <label for="subject">Subject</label>
                <input type="text" name="subject" id="subject" class="form-control" formControlName="subject">
                @if (contactForm.get('subject')?.invalid && (contactForm.get('subject')?.touched || contactForm.get('subject')?.dirty || submitted)) {
                <div class="text-danger">
                    @if (contactForm.get('subject')?.errors?.['required']) {
                        <small>Subject is required</small>
                    }
                </div>
                }
            </div>

            <div class="mb-3">
                <label for="message">Message</label>
                <textarea type="text" name="message" id="message" rows="5" class="form-control" formControlName="message"></textarea>
                @if (contactForm.get('message')?.invalid && (contactForm.get('message')?.touched || contactForm.get('message')?.dirty || submitted)) {
                <div class="text-danger">
                    @if (contactForm.get('message')?.errors?.['required']) {
                        <small>Message is required</small>
                    }
                </div>
                }
            </div>

            <button type="submit" class="btn btn-primary mb-2">Send</button>
        </form>
    </div>
  </div>
</div>