<div class="body-wrapper">
  <nav>
    <button class="btn btn-outline-primary" (click)="toggleMenu()">☰</button>

    <div class="sideMenu">
      <img src="assets/images/profile-menu.png" alt="Profielfoto" class="rounded-circle mb-4" width="165" height="175">

      <h3>Almanzo Rosseel</h3>

      <div class="d-flex gap-3 mb-4">
        <a href="https://www.linkedin.com/in/rosseel-almanzo-5241172ba/" target="_blank" rel="noopener">
          <img src="assets/images/Linkedin.png" alt="LinkedIn" width="32" height="32">
        </a>
        <a href="https://github.com/RAlmanzo" target="_blank" rel="noopener">
          <img src="assets/images/github.png" alt="GitHub" width="32" height="32">
        </a>
      </div>

      <ul class="list-unstyled">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About me</a></li>
        <li><a routerLink="/resume">Resume</a></li>
        <li><a href="">Projects</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>  
    </div>
    <div class="footer-menu">
      <img src="assets/images/MinARlogo.jpg" alt="logo made by owner Almanzo">
      <small>&copy; All rights reserved.</small>
    </div>
  </nav>
  
  <main>
    <div class="menu" [class.open]="menuOpen">
      <div class="d-flex flex-column align-items-center text-center mt-4">
        <img src="assets/images/profile-menu.png" alt="Profielfoto" class="rounded-circle mb-3" width="115" height="125">

        <div class="d-flex gap-3">
          <a href="https://www.linkedin.com/in/rosseel-almanzo-5241172ba/" target="_blank" rel="noopener">
            <img src="assets/images/Linkedin.png" width="32" height="32">
          </a>
          <a href="https://github.com/RAlmanzo" target="_blank" rel="noopener">
            <img src="assets/images/github.png" width="32" height="32">
          </a>
        </div>
      </div>

      <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/about">About me</a>
        <a routerLink="/resume">Resume</a>
        <a href="">Projects</a>
        <a routerLink="/contact">Contact</a>
      </nav>
    </div>

    <router-outlet />
  </main>
  
  <footer>
    <img src="assets/images/MinARlogo.jpg" alt="logo made by owner Almanzo">
    <small>&copy;All rights reserved.</small>
  </footer>
</div>