<nav>
  <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Resume</a></li>
      <li><a href="">Projects</a></li>
      <li><a href="">Contact</a></li>
  </ul>
</nav>

<main class="main">
  <div>
    <h1 #animatedText class="animated-text">Welkom</h1>
    <h2>Ik ben Almanzo Rosseel</h2>
    <h3>Fullstack Developer</h3>
    <h3>Backend Developer</h3>
    <img class="profile-picture" src="profile-picture.jpg" alt="profile-picture">
  </div>
</main>

<footer>
  <img src="MinARlogo.jpg" alt="logo made by owner Almanzo">
  <small>&copy; Almanzo Rosseel. All rights reserved.</small>
</footer>

<router-outlet />
