<h2>Resume</h2>

<h3>Skills</h3>

<div class="mb-3">
    <button (click)="toggleLanguages()" class="btn btn-primary me-2 mb-2">Languages</button>
    <button (click)="toggleFrameworksAndPlatforms()" class="btn btn-primary me-2 mb-2">Frameworks & Platforms</button>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        @if (showLanguagesChart)
        {
            <div class="col-9 mb-4">
                <div>
                    <app-language-bar-chart></app-language-bar-chart>
                </div>
            </div>
        }

        @if (showFrameworksPlatformsChart)
        {
            <div class="col-9 mb-4">
                <div>
                    <app-frameworks-platforms-bar-chart></app-frameworks-platforms-bar-chart>
                </div>
            </div>
        }
    </div>
</div>

